@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0px;
  background-color: rgba(229, 243, 255, 0.836);
}

#title {
  color: rgb(102, 49, 104);
}

#main_title {
  color: rgb(72, 40, 73);
}

#sec-title {
  color: rgb(223, 130, 146);
}
